* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: rgb(1, 5, 21);
  gap: 20px;
  padding: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.app__container {
  padding: 1em;
  background-color: cornsilk;
  border-radius: 10px;
  box-shadow: 0 0 20px 5px cornsilk;
  max-width: 70vh;
}

.app__container__defintion--title {
  text-decoration: underline;
}

.app__container--title {
  margin-bottom: 20px;
}
.app__container__defintion {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

button {
  padding: 1em;
  border: none;
  background: cornsilk;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

button:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px 5px cornsilk;
}
